[package]
name = "mendes"
version = "0.0.11"
authors = ["Dirkjan Ochtman <dirkjan@ochtman.nl>"]
description = "Rust web toolkit for impatient perfectionists"
documentation = "https://docs.rs/mendes"
repository = "https://github.com/djc/mendes"
keywords = ["web", "http", "server", "async"]
categories = ["asynchronous", "web-programming::http-server"]
license = "MIT OR Apache-2.0"
edition = "2018"
workspace = ".."
readme = "../README.md"

[dependencies]
async-trait = "0.1"
futures-util = "0.3"
http = "0.2"
httparse = "1.3.4"
hyper = "0.13"
mendes-macros = { version = "0.0.9", path = "../mendes-macros" }
twoway = "0.2"

[dev-dependencies]
tokio = { version = "0.2", features = ["macros"] }
