[package]
name = "mendes"
version = "0.0.28"
authors = ["Dirkjan Ochtman <dirkjan@ochtman.nl>"]
description = "Rust web toolkit for impatient perfectionists"
documentation = "https://docs.rs/mendes"
repository = "https://github.com/djc/mendes"
keywords = ["web", "http", "server", "async"]
categories = ["asynchronous", "web-programming::http-server"]
license = "MIT OR Apache-2.0"
edition = "2018"
workspace = ".."
readme = "../README.md"

[features]
application = ["http"]
cookies = ["http", "bincode", "data-encoding", "mendes-macros", "ring", "serde/derive"]
forms = ["mendes-macros", "serde_urlencoded", "serde/derive"]
json = ["serde_json"]
models = ["mendes-macros", "serde/derive"]
uploads = ["http", "httparse", "twoway"]
with-http-body = ["http-body", "bytes", "futures-util"]
with-hyper = ["application", "bytes", "futures-util", "hyper"]
postgres = ["bytes", "tokio-postgres", "postgres-types", "postgres-types/derive", "chrono", "postgres-types/with-chrono-0_4"]

[dependencies]
async-trait = "0.1.24"
bincode = { version = "1.2.1", optional = true }
bytes = { version = "0.5.4", optional = true }
chrono = { version = "0.4.10", optional = true, features = ["serde"] }
data-encoding = { version = "2.1.2", optional = true }
futures-util = { version = "0.3.4", optional = true }
http = { version = "0.2", optional = true }
http-body = { version = "0.3", optional = true }
httparse = { version = "1.3.4", optional = true }
hyper = { version = "0.13.2", optional = true }
mendes-macros = { version = "0.0.23", path = "../mendes-macros", optional = true }
postgres-types = { version = "0.1.1", optional = true }
ring = { version = "0.16.11", optional = true }
serde = "1.0.104"
serde_json = { version = "1.0.48", optional = true }
serde_urlencoded = { version = "0.6.1", optional = true }
tokio-postgres = { version = "0.5", optional = true }
twoway = { version = "0.2.1", optional = true }

[dev-dependencies]
tokio = { version = "0.2.11", features = ["macros", "rt-core"] }
