[package]
name = "mendes"
version = "0.0.6"
authors = ["Dirkjan Ochtman <dirkjan@ochtman.nl>"]
description = "Async Rust web framework"
documentation = "https://docs.rs/mendes"
repository = "https://github.com/djc/mendes"
license = "MIT OR Apache-2.0"
edition = "2018"
workspace = ".."

[dependencies]
http = "0.2"
mendes-derive = { version = "0.0.5", path = "../mendes-derive" }

[dev-dependencies]
hyper = "0.13"
tokio = { version = "0.2", features = ["macros"] }
